<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books_diary</title>
</head>
<body>
    <div class ="container mt-5"></div>
    <h1>Добавление книг</h1>
    <form method="post">
    <input type="string" name = "name" id="name" class="form_control" ><br>
    <textarea name = "author_id" id="author_id" class="form_control"></textarea><br>
    <!-- <textarea name = "text" id="text" class="form_control"></textarea><br> -->
    <input type="submit" class="btn btn-success" values="отправить">
    </form>
</div>

     <ul>

    </ul>
</body>
</html>